@media screen and (min-width: 1020px) {
    .mo-contato{
        display: none;
    }
}

@media screen and (max-width: 1019px) {
    .de-contato{
        display: none;
    }
}


/********************************************************/
/******************** Posição Imagem ********************/
/********************************************************/

/* Header Fixed for Video */
header {
    position: relative;
    background-color: #0F1C8C;
    height: 400px;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
/* Full Height Video */
header img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
/* Make the Title above the video */
header .container {
    position: relative;
    z-index: 2;
    padding-left: 20px;
    padding-right: 20px;
}

.home-video-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.6;
    z-index: 1;
    background: #000000;
}

/***********************************************************/
/******************** Primeiro Conteúdo ********************/
/***********************************************************/

.mo-c1{
    padding-top: 50px;
    padding-bottom: 50px;
}

#datamo, #diadasemanamo, #horamo{
    font-family: 'Apercu-Regular';
    font-size: 18px;
    color: #02024f;
}

.mo-c1-titulo{
    font-family: 'BerlingskeSerif-ExtraBold';
    font-size: 38px;
    color: #02024f;
    margin-bottom: 20px;
}

.mo-c1-coordenadas{
    font-family: 'BerlingskeSerif-ExtraBold';
    font-size: 30px;
    color: #02024f;
    line-height: 1.2;
    margin-bottom: 0px;
}

/******************** Primeiro Conteúdo Desktop ********************/

.de-c1{
    margin-top: 100px;
}

.de-c1-titulo{
    font-family: 'BerlingskeSerif-Bold';
    font-size: 48px;
    color: #181818;
    line-height: 1.2;
}

.de-c1-dia{
    padding-top: 10px;
    margin-bottom: 10px;
}

#datade, #diadasemanade, #horade{
    font-family: 'Apercu-Regular';
    font-size: 20px;
    color: #181818;
}

.de-c1-subtitulo{
    font-family: 'BerlingskeSerif-DemiBold';
    font-size: 30px;
    color: #181818;
}

/**********************************************************/
/******************** Segundo Conteúdo ********************/
/**********************************************************/

.mo-c2{
    padding-bottom: 50px;
}

.mo-c2-titulo{
    font-family: 'BerlingskeSerif-ExtraBold';
    font-size: 38px;
    color: #02024f;
    line-height: 1.2;
    margin-bottom: 20px;
}

.mo-c2-endereco{
    margin-bottom: 30px;
}

.mo-c2-texto{
    font-family: 'Apercu-Regular';
    font-size: 20px;
    color: #02024f;
    margin-bottom: 25px;
}

.mo-c2-link{
    font-family: 'Apercu-Regular';
    font-size: 18px;
    color: #02024f;
    text-decoration: none;
    border-bottom: 1px solid #02024f;
}

.mo-c2-link:hover{
    color: #02024f;
    text-decoration: none;
    border-bottom: 3px solid #02024f;
}

.mo-c2-contato{

}

.mo-c2-contato-lista{
    list-style: none;
    padding-left: 0px;
    text-decoration: none;
    margin-bottom: 20px
}

.mo-c2-contato-lista-item{
    margin-bottom: 10px;
}

/******************** Segundo Conteúdo Desktop ********************/

.de-c2{
    margin-top: 75px;
    margin-bottom: 75px;
}

.de-c2-texto{
    font-family: 'Apercu-Regular';
    font-size: 18px;
    color: #181818;
}

.de-c2-link{
    font-family: 'Apercu-Regular';
    font-size: 16px;
    color: #181818;
    text-decoration: none;
    border-bottom: 1px solid #181818;
}

.de-c2-link:hover{
    color: #181818;
    border-bottom: 3px solid #181818;
}

.de-c2-lista{
    list-style: none;
    padding-left: 0px;
}

.de-c2-lista-item{
    padding-bottom: 3px;
}

.de-c2-lista-link{
    font-family: 'Apercu-Regular';
    font-size: 18px;
    color: #181818;
    text-decoration: none;
}

.de-c2-coordenadas{
    font-family: 'BerlingskeSerif-DemiBold';
    font-size: 30px;
    color: #181818;
    line-height: 1.2;
}

/***********************************************************/
/******************** Terceiro Conteúdo ********************/
/***********************************************************/

.mo-c3-slider{
    height: 500px;
    overflow: hidden;
}

.mo-c3-slider img{
    display: none;
    height: auto;
    transition: 3s;
    width: 100%;
    max-width: 100%;
}

.mo-c3-slider img.active{
    display: inline-block;
}

/******************** Terceiro Conteúdo Desktop ********************/

.de-c3{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 75px;
}

.contador{
    text-align: center;
    margin-bottom: 30px;
}

.slider-wrap{
    position: relative;
}

.direcional-esquerda{
    width: fit-content;
    right: 30px;
    position: absolute;
    top: 50%;
}

.direcional-direita{
    width: fit-content;
    left: 30px;
    position: absolute;
    top: 50%;
}

.slider-botao-anterior, .slider-botao-proximo{
    cursor: pointer;
    width: 30px;
    height: 20px;
}

.slider{
    height: 500px;
    overflow: hidden;
}

.slider img{
    display: none;
    height: auto;
    transition: 3s;
    width: 100%;
    max-width: 100%;
}

.slider img.active{
    display: inline-block;
}


/*********************************************************/
/******************** Quarto Conteúdo ********************/
/*********************************************************/

.mo-c4{
    margin-bottom: 50px;
}

.mo-c4-negocios-titulo{
    font-family: 'Apercu-Bold';
    font-size: 30px;
    color: #02024f;
}

.mo-c4-negocios{
    margin-bottom: 30px;
}

.mo-c4-texto{
    font-family: 'Apercu-Regular';
    font-size: 20px;
    color: #02024f;
    margin-bottom: 25px;
}

.mo-c4-link{
    font-family: 'Apercu-Regular';
    font-size: 18px;
    color: #02024f;
    text-decoration: none;
    border-bottom: 1px solid #02024f;
}

.mo-c4-link:hover{
    color: #02024f;
    text-decoration: none;
    border-bottom: 3px solid #02024f;
}

/******************** Quarto Conteúdo Desktop ********************/

.de-c4{
    margin-bottom: 75px;
}

.de-c4-negocios{
    margin-right: 75px;
}

.de-c4-titulo{
    font-family: 'Apercu-Bold';
    font-size: 30px;
    color: #181818;
}

.de-c4-texto{
    font-family: 'Apercu-Regular';
    font-size: 18px;
    color: #181818;
}

.de-c4-link{
    font-family: 'Apercu-Regular';
    font-size: 16px;
    color: #181818;
    text-decoration: none;
    border-bottom: 1px solid #181818;
}


/*********************************************************/
/******************** Quinto Conteúdo ********************/
/*********************************************************/

.mo-c5{
    padding: 0px;
    margin-bottom: 100px;
    width: 100%;
    background-color: #f2f2f2;
    height: 400px;
}

/******************** Quinto Conteúdo Desktop ********************/

.de-c5{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 100px;
    width: 100%;
    background-color: #f2f2f2;
}

  /**********************************************************/
  /******************** Breakpoint 768px ********************/
  /**********************************************************/

  @media screen and (min-width: 768px) {
  
    .container-fluid{
        padding-left: 40px;
        padding-right: 40px;
    }

    /******************** Segundo Conteúdo ********************/

    .mo-c2{
        padding-bottom: 75px;
    }
    
    .mo-c2-titulo{
        font-size: 48px;
    }

    .mo-c2-endereco{
        margin-bottom: 50px;
    }

    .mo-c2-texto{
        font-size: 24px;
    }

    .mo-c2-contato-lista{
        margin-bottom: 30px;
    }

    .mo-c2-link{
        font-size: 22px;
    }

    /******************** Quarto Conteúdo ********************/

    .mo-c4{
        margin-bottom: 75px;
    }
    
    .mo-c4-negocios{
        margin-bottom: 50px;
    }
    
    .mo-c4-negocios-titulo{
        font-size: 38px;
    }

    .mo-c4-texto{
        font-size: 24px;
    }

    .mo-c4-link{
        font-size: 22px;
    }
  
  }













