/***********************************************************/
/******************** Primeiro conteúdo ********************/
/***********************************************************/

.primeiro-conteudo{
  background-color: rgba(15, 28, 140, 1);
  padding-top: 50px;
  padding-bottom: 50px;
}

#c1-titulo{
  font-size: 38px;
  font-family: 'BerlingskeSerif-ExtraBold';
  line-height: 1;
  color: white;
  margin-bottom: 30px;
}

.c1-texto{
  color: white; 
  font-family: 'WorkSans-Regular';
  font-size: 20px;
  line-height: 1.4;
}

.c1-link{
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px #ffffff solid;
  font-family: 'WorkSans-Regular';
  font-size: 20px;
}
.c1-link:hover{
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 3px #ffffff solid;
}

/**********************************************************/
/******************** Segundo conteúdo ********************/
/**********************************************************/

.segundo-conteudo{
  padding-top: 50px;
}

.c2-cartao-cliente{
  margin-bottom: 35px;
}

.c2-cartao-link{
  cursor: pointer;
}

.teste1234{
  overflow: hidden;
}

.c2-cartao-imagem{
  transition: 0.5s ease;
  width: 100%;
}

.c2-cartao-imagem:hover{
  transform: scale(1.2);
}

.c2-cartao-cliente-chamada-margem{
  margin-top: 20px;
}

.c2-cartao-chamada-cliente{
  font-family: 'BerlingskeSerif-ExtraBold';
  color: #181818;
  text-decoration: none;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 5px;
  cursor: pointer;
}

.c2-cartao-chamada-cliente:hover{
  color: #181818;
  text-decoration: none;
}

.c2-cartao-nome-cliente{
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'WorkSans-Regular';
}

/***********************************************************/
/******************** Terceiro conteúdo ********************/
/***********************************************************/

#c3-titulo{
  font-family: 'BerlingskeSerif-ExtraBold';
  font-size: 38px;
  line-height: 1;
  text-align: center;
}

.c3-gif{
  width: 90%;
  height: 600px;
  background-color: #666666;
  margin: 0 auto;
}

.c3-lista{
  margin-top: 20px;
  margin-bottom: 35px;
  font-family: 'WorkSans-Regular';
  font-size: 18px;
}

.c3-titulo-lista{
  font-family: 'WorkSans-SemiBold';
}

.c3-link-padding{
  padding-left: 40px;
}

.c3-link{
  text-align: center;
  color: #000000;
  border-bottom: 1px #000000 solid;
  font-family: 'WorkSans-Regular';
  font-size: 1.125rem;
}

.c3-link:hover{
  color: #000000;
  border-bottom: 3px #000000 solid;
  text-decoration: none;
}

/*********************************************************/
/******************** Quarto conteúdo ********************/
/*********************************************************/

.quarto-conteudo{
  padding-bottom: 35px;
}

#c4-link-posicao{
  text-align: center;
}

.c4-link{
  text-align: center;
  color: #000000;
  border-bottom: 1px #000000 solid;
  font-family: 'WorkSans-Regular';
  font-size: 1.125rem;
}

.c4-link:hover{
  color: #000000;
  border-bottom: 3px #000000 solid;
  text-decoration: none;
}

/**********************************************************/
/******************** Breakpoint 768px ********************/
/**********************************************************/

@media screen and (min-width: 768px) {

  .c2-cartao-cliente{
    padding: 0 10px 0 10px;
  }

  #c3-titulo{
    margin: 0 0 30px 0;
  }
  
  .c3-lista{
    margin-top: 110px;
  }

  .terceiro-conteudo{
    margin-bottom: 50px;
  }

}

/**********************************************************/
/******************** Breakpoint 992px ********************/
/**********************************************************/

@media screen and (min-width: 992px){

  .direita{
    float: right;
  }
  
  .esquerda{
    float: left;
  }

  .c2-cartao-imagem{
    padding-left: 20px;
    padding-right: 20px;
  }

  .c2-cartao-cliente-chamada-margem{
    padding-left: 20px;
    padding-right: 20px;
  }

  .segundo-conteudo{
    margin-bottom: 100px;
  }

  #c4-link-posicao{
    margin: 30px 0 50px 0;
  }
}

/***********************************************************/
/******************** Breakpoint 1200px ********************/
/***********************************************************/

@media screen and (min-width: 1200px){

  .primeiro-conteudo{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #c1-titulo{
    font-size: 64px;
  }
  .c1-texto{
    font-size: 24px;
  }
  
  .c1-link{
    font-size: 24px;
  }

  .segundo-conteudo{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 100px;
  }

  .c2-cartao-cliente{
    margin-bottom: 100px;
  }

  .c2-cartao-chamada-cliente{
    font-size: 48px;
  }

  .c2-cartao-nome-cliente{
    font-size:21px;
  }

  .terceiro-conteudo{
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 100px;
  }

  #c3-titulo{
    font-size: 64px;
    margin: 0 auto;
    padding-bottom: 100px;

  }
  
  .c3-lista{
    margin-top: 20px;
  }

  .c3-titulo-lista, li{
    font-size: 20px;
  }

  .c3-link{
    font-size: 20px;
  }

  .quarto-conteudo{
    padding-left: 120px;
    padding-right: 120px;
  }

  }

  /***********************************************************/
/******************** Breakpoint 1680px ********************/
/***********************************************************/

@media screen and (min-width: 1680px){

  .primeiro-conteudo{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #c1-titulo{
    font-size: 64px;
  }
  .c1-texto{
    font-size: 24px;
  }
  
  .c1-link{
    font-size: 24px;
  }

  .segundo-conteudo{
    padding-left: 210px;
    padding-right: 210px;
    padding-top: 100px;
  }

  .c2-cartao-cliente{
    margin-bottom: 100px;
  }

  .c2-cartao-chamada-cliente{
    font-size: 48px;
  }

  .c2-cartao-nome-cliente{
    font-size:21px;
  }

  .terceiro-conteudo{
    margin: 0 auto;
    padding-left: 210px;
    padding-right: 210px;
    padding-bottom: 100px;
  }

  #c3-titulo{
    font-size: 64px;
    margin: 0 auto;
    padding-bottom: 100px;

  }
  
  .c3-lista{
    margin-top: 20px;
  }

  .c3-titulo-lista, li{
    font-size: 20px;
  }

  .c3-link{
    font-size: 20px;
  }

  .quarto-conteudo{
    padding-left: 210px;
    padding-right: 210px;
  }

  .c4-link{
    font-size: 24px;
  }

  }

/***********************************************************/
/******************** Breakpoint 1920px ********************/
/***********************************************************/

@media screen and (min-width: 1920px){

  .primeiro-conteudo{
    padding-left: 200px;
    padding-right: 200px;
  }

  .segundo-conteudo{
    padding-left: 300px;
    padding-right: 300px;
  }

  .terceiro-conteudo{
    padding-left: 300px;
    padding-right: 300px;
  }

  .quarto-conteudo{
    padding-left: 300px;
    padding-right: 300px;
  }

}
