body{
	scroll-behavior: smooth;
}
li{
	margin-right: 20px;
}
/* Header Fixed for Video */
header {
	position: relative;
	background-color: ##0F1C8C;
	height: 100vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}
/* Full Height Video */
header video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
/* Make the Title above the video */
header .container {
	position: relative;
	z-index: 1;
}
/* Make the video only appear at desktop */
@media screen and (min-width: 601px) {
	.video-mobile {
		display: none;
  }
}
/* Make the video only appear at mobile */
@media screen and (max-width: 600px) {
	.video-desktop {
		display: none;
  }
}
/** Top Menu Style **/
.header-menu{
	z-index: 3;
	position: absolute;
	width: 100%;
	padding-top: 7.25%;
}
.header-menu-button{
	color: white;	
	font-family: 'WorkSans-Regular';
	font-size: 24px;
}
.fluid-container{
	padding-left: 20px;
	padding-right: 20px;
}
.h1{
	font-size: 64px;
	font-family: 'BerlingskeSerif-ExtraBold';
	line-height: 1;
	color: white;
	margin-bottom: 30px;
}
.portfolio-title{
	font-size: 64px;
	font-family: 'BerlingskeSerif-ExtraBold';
	line-height: 1;
	color: rgba(24, 24, 24, 1);
}
.text{
	color: white;	
	font-family: 'WorkSans-Regular';
	font-size: 1.5rem;
}
.text-link{
	color: #ffffff;
	padding-bottom: 2%;
	border-bottom: 2px #ffffff solid;
	font-family: 'WorkSans-Regular';
	font-size: 1.5rem;
}
.welcome-content{
	background-color: rgba(15, 28, 140, 1);
	padding-top: 12.078%;
	padding-bottom: 12.078%;
}
}
.
.home-project-image{
	width: 100%;
}
/** Mobile Title Style **/
.title{
	text-align: left;
	line-height: 4rem;
	font-size: 4.4rem;
	font-family: 'BerlingskeSerif-ExtraBold';
	color: #ffffff;
	margin-bottom: 10%;
}
/** Mobile Menu Above Video Style**/
.mobile-video-menu-style{
	color: #ffffff;
	font-family: 'WorkSans-Regular';
	font-size: 24px;
}
/** Mobile Menu above video Position **/
.mobile-video-menu-position{
	position: absolute;
	width: max-content;
  	top: 90%;
	left: 50%;
  	transform: translate(-50%, -50%);
  	text-decoration: none;
}
/** Desktop Menu above video Position **/
.video-menu-position{
	position: absolute;
  	top: 90%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-decoration: none;
}
/** Overlay Menu Position **/
.overlay-menu {
  	height: 0%;
  	width: 100%;
  	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	background-color: rgb(15,28,140);
	background-color: rgba(15,28,140, 0.9);
	overflow-y: hidden;
	transition: 0.5s;
}
/** Overlay Menu Content Position **/
.overlay-menu-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
/** Overlay Menu Link Style **/
.overlay-menu a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #ffffff;
	font-family: 'WorkSans-Regular';
	display: block;
	transition: 0.3s;
}
/** Overlay Menu Link Hover Style **/
.overlay-menu a:hover, .overlay-menu a:focus {
	color: #f1f1f1;
}
.overlay-menu .overlay-menu-close-button {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}
/** Overlay menu responsiveness **/
@media screen and (max-height: 450px) {
	.overlay-menu {overflow-y: auto;}
	.overlay-menu a {font-size: 20px}
	.overlay-menu .overlay-menu-close-button {
	font-size: 40px;
	top: 15px;
	right: 35px;
  }
}
.imagem{
	max-width: 100%;
}

.home-client-title{
	font-family: 'BerlingskeSerif-ExtraBold';
	font-size: 2rem;
	line-height: 1;
}
.home-client-text{
	margin-top: 8.023%;
}
.home-client-name{
	text-transform: uppercase;
	font-size: 1.25rem;
	font-family: 'WorkSans-Regular';

}
.client-card{
	margin-top: 12.38%;
}
.teste{
	width: 100%;
	height: 500px;
	background-color: #666666;
	margin: 8.023% 0 8.023% 0;
}
.third-content-title{
	font-family: 'BerlingskeSerif-ExtraBold';
	font-size: 2.375rem;
	line-height: 1;
	margin: 13.37% 0 0 0;
}
.third-content-list-style{
	margin-bottom: 8.023%;
	font-family: 'WorkSans-Regular';
	font-size: 1.125rem;
}
.underline-black-link{
	text-align: center;
	color: #000000;
	padding-bottom: 2%;
	border-bottom: 2px #000000 solid;
	font-family: 'WorkSans-Regular';
	font-size: 1.125rem;
}
.list-link-padding{
    padding-inline-start: 40px;
}
.all-projects{
	text-align: center;
	margin: 8.023% 0 13.37% 0;
}
.footer-background{
	width: 100%;
	background-color: rgba(15, 28, 140, 1);
}
