html,body{
    overflow-x: overlay !important;
}    


.menu-superior-botao-img{
    width: 24px;
    height: 22px;
}

/***********************************************************/
/******************** Primeiro Conteúdo ********************/
/***********************************************************/

/******************** Mobile ********************/

@media screen and (max-width: 767px) {
    .projetos-desktop {
        display: none;
    }
}

.mo-c1{

}

.mo-c1-cartao-cliente{
    margin-bottom: 30px;
}
    
.mo-c1-zoom-in{
    overflow: hidden;
}
    
.mo-c1-cartao-cliente-link{
    cursor: pointer;
}
    
.mo-c1-cartao-cliente-imagem{
    transition: 0.5s ease;
    width: 100%;
}
    
.mo-c1-cartao-cliente-imagem:hover{
    transform: scale(1.2);
}
    
.mo-c1-cartao-cliente-chamada-wrap{
    margin-top: 10px;
}

.mo-c1-cartao-cliente-nome{
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Apercu-Regular';
    margin-bottom: 5px;
}
    
.mo-c1-cartao-cliente-chamada{
    font-family: 'BerlingskeSerif-ExtraBold';
    color: #181818;
    text-decoration: none;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 5px;
    cursor: pointer;
}
    
.mo-c1-cartao-cliente-chamada:hover{
    color: #181818;
    text-decoration: none;
}

.mo-c1-servicos-chamada-texto{
    font-family: 'BerlingskeSerif-Bold';
    font-size: 30px;
    color: #181818;
}

.mo-c1-botao-posicao{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 75px;
}

.mo-c1-botao-projetos{
    font-family: 'Apercu-Regular';
    font-size: 18px;
    color: #181818;
    border-bottom: 1px solid #181818;
    text-decoration: none;
}

.mo-c1-botao-projetos:hover{
    text-decoration: none;
    border-bottom: 3px solid #181818;
}

/******************** Desktop ********************/

@media screen and (min-width: 768px) {
    .projetos-desktop {
        display: none;
    }
}

.de-c1{

}

.de-c1-cartao-cliente{
    margin-bottom: 30px;
}
    
.de-c1-zoom-in{
    overflow: hidden;
}
    
.de-c1-cartao-cliente-link{
    cursor: pointer;
}
    
.de-c1-cartao-cliente-imagem{
    transition: 0.5s ease;
    width: 100%;
}
    
.de-c1-cartao-cliente-imagem:hover{
    transform: scale(1.2);
}
    
.de-c1-cartao-cliente-chamada-wrap{
    margin-top: 10px;
}

.de-c1-cartao-cliente-nome{
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Apercu-Regular';
    margin-bottom: 5px;
}
    
.de-c1-cartao-cliente-chamada{
    font-family: 'BerlingskeSerif-ExtraBold';
    color: #181818;
    text-decoration: none;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 5px;
    cursor: pointer;
}
    
.de-c1-cartao-cliente-chamada:hover{
    color: #181818;
    text-decoration: none;
}

/**********************************************************/
/******************** 576px Breakpoint ********************/
/**********************************************************/

@media screen and (min-width: 576px) {

    .mo-c1-cartao-cliente{
        margin-bottom: 50px;
    }
}

/**********************************************************/
/******************** 768px Breakpoint ********************/
/**********************************************************/

@media screen and (min-width: 768px) {

    .mo-c1{
        padding-left: 40px;
        padding-right: 40px;
    }

    .mo-c1-cartao-cliente{
        margin-bottom: 75px;
        border: 10px solid transparent;
    }

    .mo-c1-botao-posicao{
        margin-bottom: 100px;
    }
}