html,body{
    overflow-x: overlay !important;
}    


.menu-superior-botao-img{
    width: 24px;
    height: 22px;
}


/*******************************************************/
/******************** Posição video ********************/
/*******************************************************/

/* Header Fixed for Video */
header {
    position: relative;
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(15,28,140,1) 39%, rgba(15,28,140,1) 100%);
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
/* Full Height Video */
header img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
/* Make the Title above the video */
header .container {
    position: relative;
    z-index: 2;
    padding-left: 20px;
    padding-right: 20px;
}

.home-video-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.6;
    z-index: 1;
    background: #000000;
}

.home-video-titulo{
    text-align: center;
    line-height: 1;
    font-size: 62px;
    font-family: 'BerlingskeSerif-ExtraBold';
    color: #ffffff;
    margin-bottom: 50px;
}

.home-video-menu{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    width: 100%;
    list-style: none;
}

.home-video-menu-item{
    font-size: 1.625rem;
    display: inline-block;
    padding-right: 2%;
    color: white;
    font-size: 20px;
}

.home-video-menu-link{
    color: #ffffff;
    cursor: pointer;
    font-family: 'Apercu-Regular';
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px #ffffff solid;
}

.home-video-menu-link:hover{
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 3px #ffffff solid;
}






/***********************************************************/
/******************** Primeiro Conteúdo ********************/
/***********************************************************/

/******************** Mobile ********************/

@media screen and (max-width: 767px) {
    .projetos-desktop {
        display: none;
    }
}

.mo-c1{
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;

}

.mo-c1-cartao-cliente{
    margin-bottom: 30px;
}
    
.mo-c1-zoom-in{
    overflow: hidden;
}
    
.mo-c1-cartao-cliente-link{
    cursor: pointer;
}
    
.mo-c1-cartao-cliente-imagem{
    transition: 0.5s ease;
    width: 100%;
}
    
.mo-c1-cartao-cliente-imagem:hover{
    transform: scale(1.2);
}
    
.mo-c1-cartao-cliente-chamada-wrap{
    margin-top: 10px;
}

.mo-c1-cartao-cliente-nome{
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Apercu-Regular';
    margin-bottom: 5px;
}
    
.mo-c1-cartao-cliente-chamada{
    font-family: 'BerlingskeSerif-ExtraBold';
    color: #181818;
    text-decoration: none;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 5px;
    cursor: pointer;
}
    
.mo-c1-cartao-cliente-chamada:hover{
    color: #181818;
    text-decoration: none;
}

.mo-c1-servicos-chamada{
    position: relative;
    top: 30%;
}

.mo-c1-servicos-chamada-texto{
    font-family: 'BerlingskeSerif-Bold';
    font-size: 30px;
    color: #181818;
}

.mo-c1-botao-posicao{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 75px;
}

.mo-c1-botao-projetos{
    font-family: 'Apercu-Regular';
    font-size: 18px;
    color: #181818;
    border-bottom: 1px solid #181818;
    text-decoration: none;
}

.mo-c1-botao-projetos:hover{
    text-decoration: none;
    border-bottom: 3px solid #181818;
}

/******************** Desktop ********************/

@media screen and (min-width: 768px) {
    .projetos-desktop {
        display: none;
    }
}

.de-c1{

}

.de-c1-cartao-cliente{
    margin-bottom: 30px;
}
    
.de-c1-zoom-in{
    overflow: hidden;
}
    
.de-c1-cartao-cliente-link{
    cursor: pointer;
}
    
.de-c1-cartao-cliente-imagem{
    transition: 0.5s ease;
    width: 100%;
}
    
.de-c1-cartao-cliente-imagem:hover{
    transform: scale(1.2);
}
    
.de-c1-cartao-cliente-chamada-wrap{
    margin-top: 10px;
}

.de-c1-cartao-cliente-nome{
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Apercu-Regular';
    margin-bottom: 5px;
}
    
.de-c1-cartao-cliente-chamada{
    font-family: 'BerlingskeSerif-ExtraBold';
    color: #181818;
    text-decoration: none;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 5px;
    cursor: pointer;
}
    
.de-c1-cartao-cliente-chamada:hover{
    color: #181818;
    text-decoration: none;
}

/**********************************************************/
/******************** 576px Breakpoint ********************/
/**********************************************************/

@media screen and (min-width: 576px) {

    .mo-c1-cartao-cliente{
        margin-bottom: 50px;
    }
}

/**********************************************************/
/******************** 768px Breakpoint ********************/
/**********************************************************/

@media screen and (min-width: 768px) {

    .mo-c1{
        padding-left: 40px;
        padding-right: 40px;
    }

    .mo-c1-cartao-cliente{
        margin-bottom: 75px;
        border: 10px solid transparent;
    }

    .mo-c1-botao-posicao{
        margin-bottom: 100px;
    }
}

/***********************************************************/
/******************** 1200px Breakpoint ********************/
/***********************************************************/

@media screen and (min-width: 1200px) {

    .mo-c1{
        padding-left: 80px;
        padding-right: 80px;
    }

}

/***********************************************************/
/******************** 1920px Breakpoint ********************/
/***********************************************************/

@media screen and (min-width: 1920px) {

    .mo-c1{
        padding-left: 200px;
        padding-right: 200px;
    }

}